/* Modified from Eric Meyer's Reset */ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,p,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size: 100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}img,table,iframe{max-width: 100%;}
/* Clearfix */ .clearfix:after, .wrap:after { visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0; } * html .clearfix, * html .wrap { zoom: 1; } *:first-child+html .clearfix, *:first-child+html .wrap { zoom: 1; }
/* Natural box model */ *, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background: white;
  color: #312310;
  font-family: 'Montserrat', 'Century Gothic', sans-serif;
}

a {
  color: #45926B;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

body > header {
  background: #FEE6A5;
  margin: 0 0 1em;
  padding: 0.1em;
  border-bottom: 0.1em solid #F6BA49;
}
body > main {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 30em;
}
body > main > p {
  margin: 1em 0 0;
}

h1,h2 {
  text-align: center;
  margin: 1rem;
}
h1 {
  font-weight: bold;
  font-size: 2em;
}
h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

fieldset {
  margin: 1em auto;
}
legend {
  font-weight: bold;
  margin-bottom: 0.4em;
}
.munisList {
  width: 100%;
}
label {
  display: block;
}
input[type="text"]{
  width: 100%;
  background: white;
  border: 0.1em solid #45926B;
  border-radius: 0.2em;
  padding: 0.3em;
  font-size: 1rem;
}
fieldset.center {
  text-align: center;
}
legend a,
legend span {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1rem;
  font-weight: normal;
  margin-left: 0.4rem;
}
legend span {
  color: #AAA;
}


.button {
  font-size: 1.6rem;
  padding: 0.4em 1em;
  margin: 0.4em 1em;
  background: #F6BA49;
  border: 0.1rem solid #C19138;
  border-radius: 0.2em / 1em;
  font-weight: bold;
  border-bottom-width: 0.2em;
  text-shadow: 0 0 0.3em rgba(255,255,255,0.8);
  outline: none;
}
.button:hover {
  border-color: #966F2D;
}
.button:active {
  margin-top: 0.55em;
  border-bottom-width: 0.1rem;
}

ul {
  font-size: 0.8em;
  margin: 0.4em;
}
ul li {
  list-style: disc inside;
  line-height: 2;
}

.resultsOverview span {
  background: #45926B;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
  color: white;
  margin-right: 0.4em;
}

.searchResults {
  font-size: 1rem;
  margin: 1em 0;
}
.searchResults li {
  border-top: 0.1em solid #45926B;
  margin: 1em 0;
  list-style: none;
  line-height: 1.6;
}
.searchResults li header {
  background: #EDFEDF;
  width: 10rem;
  padding: 0.2rem 0.4rem 0.4rem;
  display: table-cell;
  font-size: 0.8em;
}
.searchResults p {
  margin-bottom: 1em;
}
.searchResults p:last-child {
  margin-bottom: 0;
}
.searchResults li main {
  width: 20rem;
  padding: 0.2rem 0.4em;
  display: table-cell;
}

footer {
  font-size: 0.8em;
  padding: 1em;
  color: #666;
  background: #EDFEDF;
  border-top: 1px solid #45926B;
}
footer p {
  margin: 1em auto;
  max-width: 28rem;
}